.tracker {
  display: grid;
  grid-template-columns: calc(70% - 1rem) 30%;
  grid-gap: 1rem;
}



.tracker__tracks {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 1px;
  background-color: $dark-color-2;
}

.tracker__steps {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(12, 1fr);
  grid-gap: 1px;
}

.tracker__step {

  .drag__item {
    height: 3rem;
    background-color: $step;
  }
  .drap__item--ondrap {
    background-color: $step-measure;
  }
}

.tracker__panels {
}

.tracker__panels__menu {
  display: flex;

  button {
    height: 3rem;
    line-height: 3rem;
    border-radius: .15rem .15rem 0 0;
    background-color: $dark-color-2;
    opacity: .5;
    font-weight: normal;
    color: $text;

    &:not(:first-child) {
      margin-left: 1px;
    }

    &.tracker__panels__menu-active {
      opacity: 1;
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}

.tracker__panel {
  height: calc(11*3rem + 10px);
  padding: 1rem;
  background-color: #ccc;
  position: relative;
  background-color: $dark-color-2;
}

.tracker__browse {
  height: 100%;
  overflow-y: scroll;
  padding-right: .5rem;

}

.tracker__sounds {
}

.tracker__browse__actions {
  /* position: absolute;
  bottom: 0; left: 0;
  width: 100%; */
  padding-top: 1rem;
  display: grid;
  grid-gap: .5rem;
  grid-template-columns: repeat(2, calc(50% - .25rem));
  display: none;
}

.tracker__sounds {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: .5rem;
}

.tracker__sound {
  background-color: #555;
  position: relative;
  background-color: $step-current;

  p {
    padding: .2rem .3rem;
    z-index: 4;
    font-size: .65rem;
    background-color: rgba(0,0,0,0.8);
    color: white;
    width: 100%;
  }

  .waveform {
    width: 100%;
    height: 100px;
    position: relative;
  }
  
  .waveform__control {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
  }
  
  button {
    position: absolute;
    z-index: 3;
    bottom: 5px;
    left: 5px;
    padding: .3rem .5rem;
    height: auto;
    line-height: 1rem;
    font-size: .7rem
  }
}

.tracker__project {

  label {
    @include reset-block;
    width: 100%;
    color: $text;
    padding-bottom: .5rem;
    font-size: 0.8rem;
  }

  input[type="text"],
  textarea,
  select {
    @include reset-block;
    width: 100%;
    padding: .7rem;
    border: 1px solid rgba(255,255,255,0.4);
    font-size: 0.8rem;

    &:focus {
      box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
      outline:0;
    }
  }

  * + label {
    margin-top: 1rem;
  }
}


.tracker__project__actions {
  padding-top: 2rem;
}





.drag__item .tracker__sound {
  background-color: #555;
  height: 100%;

  p {
    height: 100%;
    color: white;
    background-color: $step-active;
    color: $step-dark;
  }

  div {
    display: none;
  }
}

.tracker__player {
  display: flex;

  button + a {
    margin-left: .5rem;
  }
}