.box__content {
  display: flex;
  justify-content: space-between;
  // flex-direction: row-reverse;

  ul {
    flex: 1;

    li {
      list-style: none;
      margin: 1rem 0;
      
      audio {
        width: 50%;
      }
    }
  }
}
