// pianoRoll //

.piano {
  background-color: $dark-color-2;
}

.piano__octave__controls {
  display: none;
}

.keyboard {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  width: 15%;
  
  .key:first-child.key--white,
  .key:nth-child(7).key--white,
  .key:nth-child(8).key--white,
  .key:last-child.key--white {
    height: calc(3rem);
  }
  
  .key--white {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 4rem;
    z-index: 1;
    background-color: #ededed;
    //border-top: 1px solid black;
  }

  .key--black + .key--white {
    margin-top: -2rem;
  }

  .key--black {
    position: relative;
    top: -1rem;
    height: 2rem;
    width: 65%;
    z-index: 2;
    background-color: black;
  }
}

.steps {
  width: 85%;

  .steps__row {
    height: calc(14rem / 12);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(16, 1fr);

    > div {
      cursor: cell;
      //border: 1px solid black;

    }

  }

  .steps__row--white {
    height: calc(3rem - 1.5rem/2);

    > div {
      background-color: rgb(77, 90, 90);
    }
    
  }

  .steps__row--black {

    > div {
      background-color: #292929;
    }

  }
}



.piano {
  
  }
  .board {
    width: 100%;
    display: flex;
  }
  .board-content {
    width: 100%;
    display: flex;
    margin-left: 3rem;
  }
  .clavier-container {
    display: flex;
    flex-direction: column;
    // background-color: red;
    justify-content: stretch;
    margin-top: 1.45rem;
  
    .white {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      margin-top: -1.4rem;
      height: 50px;
      width: 150px;
      z-index: 1;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      border-left: 1px solid black;
      background-color: #ededed;
    }
    .white:nth-child(8) {
      margin-top: -2px;
    }
    .black {
      position: relative;
      top: -0.6rem;
      height: 20px;
      width: 100px;
      z-index: 2;
      border: 2px solid black;
      background-color: black;
    }
    .key {
      float: left;
      position: relative;
    }
  }
  
  .test {
    background-color: rgba(88,235,144,.8) !important;
    z-index: 1;
  }
  
  //quentin
  
  .piano-containter {
    margin-top: 2px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 50px);
  }
  
  // main {
  //   margin-top: 50px;
  //   height: calc(100vh - 50px);
  // }
  
  .piano_grid.white {
    height: 30.4px;
  }
  .piano_grid.black {
    height: 20px;
    div {
      background-color: #292929;
    }
  }
  
  .piano {
    .board:nth-child(3) {
      .piano_grid:first-child {
          > :nth-child(4n + 1) {
            position: relative;
            &::before {
              counter-increment: col;
              content: "" counter(col);
              position: absolute;
              top: -30px;
              left: -5px;
              color: white;
            }
          }
        }
    }
  
    .board {
      :first-child {
        // background-color: red;
  
        .piano-container {
          .piano_grid:first-child {
            div {
              position: relative;
              &:nth-child(4n + 1)::before {
                counter-increment: col;
                content: "" counter(col);
                position: absolute;
                top: -30px;
                left: -5px;
                color: white;
              }
            }
          }
        }
      }
    }
  }
  
  .piano_grid {
    margin-left: 5px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 50px);
    // grid-template-rows: repeat(auto-fit, );
    gap: 2px;
    grid-auto-flow: column;
    margin-bottom: 2px;
  
    // &:first-child {
    //   div {
    //     position: relative;
    //     &:nth-child(4n + 1)::before {
    //       counter-increment: col;
    //       content: "" counter(col);
    //       position: absolute;
    //       top: -30px;
    //       left: -5px;
    //       color: white;
    //     }
    //   }
    // }
  
    &_note-black {
      background-color: black;
    }
    &_note-white {
      background-color: white;
    }
  
    button {
      position: fixed;
      display: none;
      left: 0;
      cursor: pointer;
      grid-column: 1;
      grid-column-start: 1;
      grid-column-end: span 2;
      border: none;
      height: 30px;
      width: 102px;
      outline: none;
      &:hover {
        box-shadow: inset 0 0 0 5px rgb(221, 154, 100);
      }
    }
    
    div {
      min-width: 50px;
      cursor: cell;
      background-color: rgb(77, 90, 90);
      &:hover ~ button {
        box-shadow: inset 0 0 0 5px rgb(221, 154, 100);
      }
    }
  }
  
  .piano-modify-duration {
    display: none;
    position: absolute;
    top: 0px;
    height: calc(100%);
    width: calc(15px);
    background: rgba(0,0,0,0.5);
    cursor: pointer;
  }
  
  .piano-longer-duration {
    right: 0px;
  }
  
  .piano-shorter-duration {
    left: 0px;
  }
  
  .test {
    position: relative;
  }
  
  .test .piano-modify-duration {
    display: block;
  }
  .roll-save-patern, button{
    margin-bottom: 0;
  }
  .roll-patern-title {
    padding: 0.5rem 1rem;
  }
  .piano__controls{
      display: flex;
      align-items: center;
      margin: 0 0 3rem 0;
      margin-top: 3rem;
  }  