// pianoRoll //

.piano {
  background-color: $dark-color-2;
}

.piano__octave__controls {
  display: none;
}

.octave__accordion__control {
  display: flex;
  background: rgba(0,0,0,0.2);
  border-top: 1px solid rgba(255,255,255,0.1);
  cursor: pointer;

  span {
  font-size: .8rem;
  text-transform: uppercase;
  padding: .3rem 0;
  }

  span:first-child {
    padding: .3rem .5rem;
  }
}

.octave {
  display: none;
  grid-template-columns: 20% 80%;
  grid-gap: 1px;

  &--show {
    display: grid;
  }
}

.keyboard {

  .key {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: .3rem;
    font-size: .8rem;
  }
  
  .key:first-child.key--white,
  .key:nth-child(7).key--white,
  .key:nth-child(8).key--white,
  .key:last-child.key--white {
    height: calc(3rem);
  }
  
  .key--white {
    display: flex;
    align-items: center;
    height: 4rem;
    padding: .3rem;
    z-index: 1;
    background-color: #ededed;
  }
  
  .key--white:not(:first-child) {
    border-top: 1px solid $dark-color-2;
  }
  

  .key--black + .key--white {
    margin-top: -2rem;
  }

  .key--black {
    position: relative;
    top: -1rem;
    height: 2rem;
    width: 65%;
    z-index: 2;
    border-radius: 0 .15rem .15rem 0;
    background-color: black;
    color: rgba(255,255,255,0.3);
  }
}

.steps {
  display: grid;
  grid-template-columns:(1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-gap: 1px;

  .steps__row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 1px;

    > div {
      cursor: cell;
      //border: 1px solid black;

    }

  }

  .steps__row--white > div {
      background-color: $step;

      &:nth-child(4n+1) {
        background-color: $step-measure;
      }
  }

  .steps__row--black > div {
      background-color: $step-dark;

      &:nth-child(4n+1) {
        background-color: $step-dark-measure;
      }
  }
}
  
  .test {
    position: relative;
    background-color: $step-active !important;
    z-index: 1;
  }
  
  .piano-modify-duration {
    display: none;
    position: absolute;
    top: 0px;
    height: calc(100%);
    width: calc(15px);
    background: rgba(0,0,0,0.5);
    cursor: pointer;
  }
  
  .piano-longer-duration {
    right: 0px;
  }
  
  .piano-shorter-duration {
    left: 0px;
  }
  
  .test .piano-modify-duration {
    display: block;
  }
 
  .play-register-container {
    margin-top: 1rem;
      display: flex;
      align-items: center;
      padding: 1rem;
      background-color:  $sequencer_sound_bg;

      form {
        margin-left: auto;
        display: flex;

        input[type="text"] {
          width: 12rem;
        }

        button {
          margin-left: .5rem;
        }
      }

      .play {
        margin-left: .5rem;
      }
  }

  .instrument {
    @extend .button;
  }

  input[type="text"] {
    border: none;
    height: 2.6rem;
    line-height: 2.6rem;
    padding: 0 .5rem;
    border-radius: .1rem;
    background-color: rgba(255,255,255,0.8);
  }