
  // Variables couleurs
$light-color : white ;
$dark-color-1 :  #26272B;
$dark-color-2 :  #191D20;
$dark-color-3 :black;
$primary-color : tomato;
$marked-color : red;
$step-color : #ccc;
$col-color : green;
$marked-col-color : red;

// Scss StepSequencer
  
  .row {
    display: grid;
    grid-template-columns: 20% 80%;
  }
  .trackName {
    background: $primary-color;
    border: 1px solid $light-color;
  }
  .track {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
  }
  .step {
    padding-top: calc(100% - 2px);
    border: 1px solid $light-color;
    background-color: $step-color;
    cursor: pointer;
  }
  .marked {
    background-color: $marked-color;
  }
  
  .col {
    background-color: $col-color;
  }
  .marked.col {
    background-color: $marked-col-color;
  }

