.sequencer__grid {
  background-color: $dark-color-2;
}

.sequencer__row {
  display: grid;
  grid-template-columns: 7rem auto 3rem;
  grid-gap: 1px;

  &:not(:first-child) {
    margin-top: 1px;
  }
}

.sequencer__sound {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: $sequencer_sound_bg;
  color: white;
  text-transform: uppercase;
  font-size: .8rem;
}

.sequencer__track {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-gap: 1px;
}

.sequencer__step {
  padding-top: calc(100%);
  background-color: $step;
  cursor: pointer;

  &:nth-child(4n+1) {
      background-color: #979797;
  }
&.sequencer__stepmarked {
    background-color: $step-active;
  }
  &.sequencer__stepcol {
    background-color: $step-current;
  }
  &.sequencer__stepcol.sequencer__stepmarked {
    background-color: $step-active;
  }

}
  
.sequencer__controls {
  display: flex;
  align-items: center;
  margin: 0 0 3rem 0;

  select:first-child {
    margin-right: auto;
  }
}

.sequencer__row_remove {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: $sequencer_sound_bg;
  border: 0 none;
  border-radius: 0;

  &:hover {
    background-color: $dark-color-1;
  }

  &:focus {
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    outline:0;
  }
}

.sequencer__addtrack {
  @extend button;
  width: 7rem;
  margin-top: .3rem;
  border-radius: 0;
  text-align: center;
  text-align-last: center;
  -moz-text-align-last: center;
  padding: 1rem .5rem;
  height: auto;
  line-height: 1rem;
  font-size: .7rem;
  background-color: $step-measure;

  &:hover {
    background-color: $button_hover_bg;
  }
}

.roll-save-patern:disabled{
  opacity: 0.5;
  cursor: default;
  &:hover{
    background: #004e88 !important;
  }
}