.box {
  background: #43454b;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.box__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #26272b;
}

.box__close {
  display: block;
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  color: #87878a;
  line-height: .2rem;
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
  background-color: #26272b;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.box__close:hover {
  background-color: #87878a;
  color: #26272b;
}

.box__content {
  padding: 1rem;
}

.box__content label {
  color: white;
  padding: .5rem;
}

.box__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box__title {
  padding: .5rem 1rem;
}

.sequencer {
  margin: 50px;
}

.sequencer__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 85%;
      grid-template-columns: 15% 85%;
}

.sequencer__sound {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #393a40;
  border: 1px solid #43454b;
  color: white;
  padding: 1rem;
  text-transform: uppercase;
}

.sequencer__track {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[16];
      grid-template-columns: repeat(16, 1fr);
}

.sequencer__track_4 {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.sequencer__track_8 {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
}

.sequencer__track_12 {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.sequencer__track_16 {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[16];
      grid-template-columns: repeat(16, 1fr);
}

.sequencer__track_20 {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[20];
      grid-template-columns: repeat(20, 1fr);
}

.sequencer__track_24 {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[24];
      grid-template-columns: repeat(24, 1fr);
}

.sequencer__track_28 {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[28];
      grid-template-columns: repeat(28, 1fr);
}

.sequencer__track_32 {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[32];
      grid-template-columns: repeat(32, 1fr);
}

.sequencer__track_36 {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[36];
      grid-template-columns: repeat(36, 1fr);
}

.sequencer__track_40 {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[40];
      grid-template-columns: repeat(40, 1fr);
}

.sequencer__track_44 {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[44];
      grid-template-columns: repeat(44, 1fr);
}

.sequencer__track_48 {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[48];
      grid-template-columns: repeat(48, 1fr);
}

.sequencer__track_52 {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[52];
      grid-template-columns: repeat(52, 1fr);
}

.sequencer__track_56 {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[56];
      grid-template-columns: repeat(56, 1fr);
}

.sequencer__track_60 {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[60];
      grid-template-columns: repeat(60, 1fr);
}

.sequencer__track_64 {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[64];
      grid-template-columns: repeat(64, 1fr);
}

.sequencer__step {
  padding-top: calc(100% - 2px);
  border: 1px solid #43454b;
  background-color: #26272b;
  cursor: pointer;
}

.sequencer__stepmarked {
  background-color: #749292;
}

.sequencer__stepcol {
  background-color: #362928;
}

.sequencer__stepcol.sequencer__stepmarked {
  background-color: #517878;
}

.sequencer__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sequencer__controls select:first-child {
  margin-right: auto;
}

.sequencer__controls select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
}

.sequencer__controls select, .sequencer__controls button {
  padding: .7rem 1rem;
  margin-top: 1rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #87878a;
  color: #26272b;
  border: 1px solid #87878a;
  text-transform: uppercase;
  font-weight: bold;
}

.sequencer__controls select:hover, .sequencer__controls button:hover {
  background-color: #26272b;
  border: 1px solid #26272b;
  color: #87878a;
}

.sequencer__controls select:focus, .sequencer__controls button:focus {
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  outline: 0;
}
/*# sourceMappingURL=StepSequencer.css.map */