.grid-note {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    color:  rgb(12, 4, 39);
  }
  
  .grid-item{
    background-color: rgba(70, 70, 70, 0.8);
    text-align: center;
    margin: 1.2rem 0;
  }

  .grid-item-active {
    background: #e5e5e5;
    padding: .2rem 0;
    color: #757575;
  }

  .active{
    background :rgb(55, 158, 95);
  }