@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

// Variables couleurs
$light-color : white ;
$dark-color-1 :  #26272B;
$dark-color-2 :  #191D20;
$dark-color-3 :black;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: $dark-color-2;
}

.header{
  display: flex;
  height: 50px;
  background-color: $dark-color-1;

  &_play-button{
    width: 50px;
    background-color: $light-color;
    border: none;
    cursor: pointer;
    outline: none;
  }

  &_bpm-container{
    display: flex;
    align-items: center; 
    border-bottom: 1px solid $light-color;
    margin-right: 10px;
    flex-basis: 10%; //Fixer une largeur pour le changement du range
    p,
    label{
      color: $light-color;
      margin: 0 10px;
    }
    input{
      width: 40px;
      background-color: transparent;
      border: none;
      outline: none;
      color: $light-color;
    }
    label{
      width: 100%; //Fixer une largeur pour le changement du range
    }
  }
  &_patern-container{
    display: flex;
    align-items: center; 
    border-bottom: 1px solid $light-color;
    margin-right: 10px;
    p{
      color: $light-color;
      margin: 0 10px;
    }
    input{
      width: 40px;
      background-color: transparent;
      border: none;
      outline: none;
      color: $light-color;
    }
  }
  &_select{
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid $light-color;
    color: $light-color;
    option{
      color: $dark-color-3;
    }
  }
}

.flex {
  display : flex;
  justify-content: space-between; }

