// Set up
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap");
@import './assets/styles/variables.scss';
@import './assets/styles/mixins.scss';

// Globals
@import './assets/styles/box.scss';

// Elements
@import './assets/styles/button.scss';

// Parts
@import './assets/styles/header.scss';

// Components
@import './Components/PianoRoll/PianoRoll.scss';
@import './Components/StepSequencer/StepSequencer.scss';
@import './Components/Sampler/Sampler.scss';
@import './Components/Tracker/Tracker.scss';
@import './Components/Library/Library.scss';
@import './Components/Auth/Login.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

  /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: $dark-color-2;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $light-color;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

button,
select {
  
  &:focus {
    outline: none;
  }
}

body {
  background-color: $dark-color-1;
  counter-reset: col;
  color: $text;
}

main{
  padding-top: 4rem;
}

select {
  -webkit-appearance:     none;
  -moz-appearance:        none;
  -ms-appearance:         none;
  -o-appearance:          none;
  appearance:             none;
}
