@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap");

// Variables couleurs
$light-color: white;
$dark-color-1: #282B36;
$dark-color-2: #26272b;
$dark-color-3: black;
// BTN piano
$piano_btn_bg: #159EDE;
$piano_btn_color: #ffffff;
$piano_btn_border: #159EDE;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: $dark-color-2;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $light-color;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  h2 {
    font-weight: 400;
  }
}

body {
  background-color: $dark-color-1;
  counter-reset: col;
}

.header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  height: 50px;
  background-color: $dark-color-2;
  margin-bottom: 2rem;
  &_play-button {
    width: 50px;
    background-color: $light-color;
    border: none;
    cursor: pointer;
    outline: none;
  }

  &_nav {
    display: flex;
    align-items: center;
    &-list {
      display: flex;
      list-style: none;
      li {
        height: 50px;
        margin: 0 15px;
        color: grey;
        font-size: 20px;
        display: flex;
        align-items: center;
        cursor: pointer;
        &:hover {
          color: $light-color;
        }
      }
    }
  }

  &_bpm-container {
    display: flex;
    align-items: center; 
    border-bottom: 1px solid $light-color;
    margin-right: 10px;
    flex-basis: 10%; //Fixer une largeur pour le changement du range
    p,
    label{
      color: $light-color;
      margin: 0 10px;
    }
    input {
      width: 40px;
      background-color: transparent;
      border: none;
      outline: none;
      color: $light-color;
    }
    label{
      width: 100%; //Fixer une largeur pour le changement du range
    }
  }
  &_patern-container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $light-color;
    margin: 0 5px;
    p {
      color: $light-color;
      margin: 0 10px;
    }
    input {
      width: 40px;
      background-color: transparent;
      border: none;
      outline: none;
      color: $light-color;
    }
  }
  &_select {
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid $light-color;
    color: $light-color;
    option {
      color: $dark-color-3;
    }
  }
}

main{
  padding: 9rem 0 0 0;
}

// pianoRoll //
.Roll {
  background-color: $dark-color-2;
  padding: 2rem 1rem 1rem 1rem;

}
.board {
  width: 100%;
  display: flex;
}
.board-content {
  width: 100%;
  display: flex;
  margin-left: 3rem;
}
.clavier-container {
  display: flex;
  flex-direction: column;
  // background-color: red;
  justify-content: stretch;
  margin-top: 1.45rem;

  .white {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: -1.4rem;
    height: 50px;
    width: 150px;
    z-index: 1;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    background-color: #ededed;
  }
  .white:nth-child(8) {
    margin-top: -2px;
  }
  .black {
    position: relative;
    top: -0.6rem;
    height: 20px;
    width: 100px;
    z-index: 2;
    border: 2px solid black;
    background-color: black;
  }
  .key {
    float: left;
    position: relative;
  }
}

.test {
  background-color: rgba(88,235,144,.8) !important;
  z-index: 1;
}

//quentin

.piano-containter {
  margin-top: 2px;
}

// main {
//   margin-top: 50px;
//   height: calc(100vh - 50px);
// }

.piano_grid.white {
  height: 30.4px;
}
.piano_grid.black {
  height: 20px;
  div {
    background-color: #292929;
  }
}

.Roll {
  .board:nth-child(3) {
    .piano_grid:first-child {
        > :nth-child(4n + 1) {
          position: relative;
          &::before {
            counter-increment: col;
            content: "" counter(col);
            position: absolute;
            top: -30px;
            left: -5px;
            color: white;
          }
        }
      }
  }

  .board {
    :first-child {
      // background-color: red;

      .piano-container {
        .piano_grid:first-child {
          div {
            position: relative;
            &:nth-child(4n + 1)::before {
              counter-increment: col;
              content: "" counter(col);
              position: absolute;
              top: -30px;
              left: -5px;
              color: white;
            }
          }
        }
      }
    }
  }
}

.piano_grid {
  margin-left: 5px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 50px);
  // grid-template-rows: repeat(auto-fit, );
  gap: 2px;
  grid-auto-flow: column;
  margin-bottom: 2px;

  // &:first-child {
  //   div {
  //     position: relative;
  //     &:nth-child(4n + 1)::before {
  //       counter-increment: col;
  //       content: "" counter(col);
  //       position: absolute;
  //       top: -30px;
  //       left: -5px;
  //       color: white;
  //     }
  //   }
  // }

  &_note-black {
    background-color: black;
  }
  &_note-white {
    background-color: white;
  }

  button {
    position: fixed;
    display: none;
    left: 0;
    cursor: pointer;
    grid-column: 1;
    grid-column-start: 1;
    grid-column-end: span 2;
    border: none;
    height: 30px;
    width: 102px;
    outline: none;
    &:hover {
      box-shadow: inset 0 0 0 5px rgb(221, 154, 100);
    }
  }
  
  div {
    min-width: 50px;
    cursor: cell;
    background-color: rgb(77, 90, 90);
    &:hover ~ button {
      box-shadow: inset 0 0 0 5px rgb(221, 154, 100);
    }
  }
}

.plusBtn, .moinsBtn, .roll-save-patern , button{
      padding: .7rem 1rem;
      margin: 0rem 1rem 3rem 1rem;
      transition: all 0.5s ease;
      background-color: $piano_btn_bg;
      color: $piano_btn_color;
      border: 1px solid $piano_btn_border;
      text-transform: uppercase;
      font-weight: bold;
  
      &:hover {
        background-color: #003c69;
        color: #d4d4d4;
        border-color: #23235f;
      }

      &:focus {
        box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
        outline:0;
      }
}

.plusBtn{
  margin-left: 0;
}

.piano-modify-duration {
  display: none;
  position: absolute;
  top: 0px;
  height: calc(100%);
  width: calc(15px);
  background: rgba(0,0,0,0.5);
  cursor: pointer;
}

.piano-longer-duration {
  right: 0px;
}

.piano-shorter-duration {
  left: 0px;
}

.test {
  position: relative;
}

.test .piano-modify-duration {
  display: block;
}

// login

.logBtn {
  border: none;
  outline: none;
  width: 150px;
  padding: 10px 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background: #61dafb;
  cursor: pointer;
  border-radius: 10px;
}
.logBtn a{
  text-decoration: none;
  color: white;
}
.login {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 0 20px;
  background: #e9e9e9;
  display: flex;
  background-color: $dark-color-1;
}

.login .loginContainer {
  margin: 0 ;
  padding: 60px;
 
  max-width: 520px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1rem;
    color: white;
    border: 1px solid #61dafb;
    
    box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.8);
  border-radius: 15px;
    height: 50px;
    width: 100%;
    margin-bottom: 2rem;
}

.login .loginContainer label {
  color: white;
  margin: 14px 0;
  display: block;
  font-size: 22px;
  line-height: 1;
}


.login .loginContainer input {
  border: 1px solid #61dafb;
  width: 80%;
  background-color: transparent;
  font-size: 1rem;
  padding: .2rem ;
  
  transition: all 01s;
  color: white;
  
}
.login .loginContainer input:focus{
  
  outline: none;
  background-color: #61dafb;
  box-shadow: 0px 0px 18px rgba(22, 247, 255, 0.8);
  width: 100%;
}

.login .loginContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.login .loginContainer .btnContainer p {
  margin: 14px 0 0 0;
  text-align: right;
  color: #fff;
}

.login .loginContainer .btnContainer p span {
  color: yellow;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.login .loginContainer .btnContainer p span:hover {
  color: red;
}

.login .loginContainer .errorMsg {
  color: red;
  font-size: 16px;
}
.roll-save-patern, button{
  margin-bottom: 0;
}
.roll-patern-title {
  padding: 0.5rem 1rem;
}
.piano__controls{
    display: flex;
    align-items: center;
    margin: 0 0 3rem 0;
    margin-top: 3rem;
}
