@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap");

// Variables couleurs
$light-color: white;
$dark-color-1: #191d20;
$dark-color-2: #26272b;
$dark-color-3: black;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: $dark-color-2;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $light-color;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

body {
  background-color: $dark-color-1;
  counter-reset: col;
}

.header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  height: 50px;
  background-color: $dark-color-2;
  margin-bottom: 2rem;
  &_play-button {
    width: 50px;
    background-color: $light-color;
    border: none;
    cursor: pointer;
    outline: none;
  }

  &_nav {
    display: flex;
    align-items: center;
    &-list {
      display: flex;
      list-style: none;
      li {
        height: 50px;
        margin: 0 15px;
        color: grey;
        font-size: 20px;
        display: flex;
        align-items: center;
        cursor: pointer;
        &:hover {
          color: $light-color;
        }
      }
    }
  }

  &_bpm-container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $light-color;
    margin: 0 5px;
    p {
      color: $light-color;
      margin: 0 10px;
    }
    input {
      width: 40px;
      background-color: transparent;
      border: none;
      outline: none;
      color: $light-color;
    }
  }
  &_patern-container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $light-color;
    margin: 0 5px;
    p {
      color: $light-color;
      margin: 0 10px;
    }
    input {
      width: 40px;
      background-color: transparent;
      border: none;
      outline: none;
      color: $light-color;
    }
  }
  &_select {
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid $light-color;
    color: $light-color;
    option {
      color: $dark-color-3;
    }
  }
}

// pianoRoll //

.piano_global {
  padding-top: 5rem;
  padding-bottom: 3rem;
}
.board {
  width: 100%;
  display: flex;
  margin-left: 3rem;
}
.clavier-container {
  display: flex;
  flex-direction: column;
  // background-color: red;
  justify-content: stretch;
  margin-top: 1.45rem;

  .white {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: -1.4rem;
    height: 50px;
    width: 150px;
    z-index: 1;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    background-color: #cbcbcb;
  }
  .white:nth-child(8) {
    margin-top: -2px;
  }
  .black {
    position: relative;
    top: -0.6rem;
    height: 20px;
    width: 100px;
    z-index: 2;
    border: 2px solid black;
    background-color: black;
  }
  .key {
    float: left;
    position: relative;
  }
}

.test {
  background-color: rgba(88,235,144,.8) !important;
}

//quentin

.piano-containter {
  margin-top: 2px;
}

// main {
//   margin-top: 50px;
//   height: calc(100vh - 50px);
// }

.piano_grid.white {
  height: 30.4px;
}
.piano_grid.black {
  height: 20px;
  div {
    background-color: #292929;
  }
}

.Roll {
  .board:nth-child(3) {
    :nth-child(2) {
      :first-child {
        :nth-child(4n + 1) {
          position: relative;
          &::before {
            counter-increment: col;
            content: "" counter(col);
            position: absolute;
            top: -30px;
            left: -5px;
            color: white;
          }
        }
      }
    }
  }

  .board {
    :first-child {
      // background-color: red;

      .piano-container {
        .piano_grid:first-child {
          div {
            position: relative;
            &:nth-child(4n + 1)::before {
              counter-increment: col;
              content: "" counter(col);
              position: absolute;
              top: -30px;
              left: -5px;
              color: white;
            }
          }
        }
      }
    }
  }
}

.piano_grid {
  margin-left: 5px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 50px);
  // grid-template-rows: repeat(auto-fit, );
  gap: 2px;
  grid-auto-flow: column;
  margin-bottom: 2px;

  // &:first-child {
  //   div {
  //     position: relative;
  //     &:nth-child(4n + 1)::before {
  //       counter-increment: col;
  //       content: "" counter(col);
  //       position: absolute;
  //       top: -30px;
  //       left: -5px;
  //       color: white;
  //     }
  //   }
  // }

  &_note-black {
    background-color: black;
  }
  &_note-white {
    background-color: white;
  }

  button {
    position: fixed;
    display: none;
    left: 0;
    cursor: pointer;
    grid-column: 1;
    grid-column-start: 1;
    grid-column-end: span 2;
    border: none;
    height: 30px;
    width: 102px;
    outline: none;
    &:hover {
      box-shadow: inset 0 0 0 5px rgb(221, 154, 100);
    }
  }
  
  div {
    min-width: 50px;
    cursor: cell;
    background-color: rgb(77, 90, 90);
    &:hover ~ button {
      box-shadow: inset 0 0 0 5px rgb(221, 154, 100);
    }
  }
}

.plusBtn, .moinsBtn{
  width: 8rem !important;
  padding: 1rem;
  margin: 0rem 1rem 3rem 1rem;
}