.box {
    margin: 2.5rem;
    background: $box_bg;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    flex: 1;

  &__bar {
    display: flex;
    justify-content: space-between;
    background: $box_bar;
  }

  &__title {
      color: $blue-color;

      h2 {
        font-size: inherit;
        font-weight: inherit;
      }
  }

  &__close {
    display: block;
    border: none;
    background-color: transparent;
    margin: 0; padding: 0;
    color: $text;
    line-height: .2rem;
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
    background-color: $box_bar;
    transition: all 0.5s ease;

    &:hover {
      background-color: $text;
      color: $box_bar;
    }
  }

  &__content {
    padding: 1rem;
    label{
      color: white;
      padding: .5rem;
    }
  }

  &__action {
    display: flex;
    align-items: center;
  }

  &__title {
    padding: .5rem 1rem;
  }
}