button, .button{
    @include reset-block();
    padding: .7rem 1rem;
    transition: all 0.5s ease;
    background-color: $button_bg;
    color: $button_text;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .8rem;
    letter-spacing: 1px;
    border-radius: .1rem;

    &:hover {
        background-color: $button_hover_bg;
        color: $button_hover_text;
    }

    &:focus {
      box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
      outline:0;
    }
}