// Variables couleurs
$light-color: white;
$dark-color-1: #282B36;
$dark-color-2: #26272b;
$dark-color-3: black;
// BTN piano
$piano_btn_bg: #159EDE;
$piano_btn_color: #ffffff;
$piano_btn_border: #159EDE;

$box_bar: #26272b;
$box_bg: #43454b;
$sequencer_sound_bg: #393a40;
$sequencer_step_bg: #26272b;
$sequencer_step_marked_bg: #749292;
$sequencer_step_col_bg: #362928;
$sequencer_step_marqued_col_bg: #517878;
$text: #87878a;

$button_bg: #159EDE;
$button_border: #159EDE;
$button_text: #ffffff;

$button_hover_bg: #003c69;
$button_hover_border: #003c69;
$button_hover_text: #ffffff;

$step: rgb(77, 90, 90);
$step-measure: #49625d;
$step-dark: #292929;
$step-dark-measure: #242323;
$step-active: rgba(88,235,144,1);
$step-current: #466f62;