.account{
    .account__btn{
        display:flex;
        margin: 1rem 0;
        button{
            background: #979797;
            margin: 0 .5rem 0 0;
            border-radius: 20px;
            box-shadow: none;
            &:hover{
                background: #676767;
            }
        }
    }
    .box__content h2{
        margin: 2rem 0 1rem 0;
    }
    .my__sounds{
        @include reset-block();
        li{
            padding: 1rem 0;
        }
        
    }
    .my__sound__header{
        color: $blue-color;
        svg{
            margin: 0 .5rem 0 0;
            fill: $blue-color;
        }
    }
    .my__sound__source{
        font-size: .75rem;
    }
    .library__sounds{
        padding: 1rem 0 0 0;
    }
}